<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @rating.destination %>
</p>

<p>
  <strong>Country:</strong>
  <%= @rating.country %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @rating.rating %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
